* {
    box-sizing: border-box;
}

body {
margin: 0;
background-color: #3b3f45;
color: #fff;
font-family: 'Trebouchet MS,' 'Lucida  Sans Unicode', sans-serif ;
min-height: 100vh;
border: 20px solid white;
}

header, footer {
    background-color: #4a4f56;
    padding: 15px;
    text-align: center;
    color: #eb7e7f;
    font-size: 24px;
}


h1 {
   margin: 0 0 10px 0;
   font-size: 42px;

}

.container {
    margin: 0 auto;
    max-width: 700px;
}

ul{
    list-style: none;
    padding: 0;
    margin: 30px 0;

}

ul li {
    background-color: #88839e;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    transition:  all .3s ease-in-out;
}

ul li:nth-child(odd) {
    background-color: #727593;
}

ul li:hover {
    background-color: #7a7593;
    border-color: #ffffff;

}
ul li:active,
ul li:focus {
    background-color: #625e77;
    transition: all .3s ease-in-out;
}

label {
    padding: 15px;
    display: block;
}

input[type="checkbox"] {
    transform: scale(1.4);
    margin-right: 10px;

}

small {
    opacity: .6;
}

small:not(:empty)::before {
        content: '(';
    }


small:not(:empty)::after {
        content: ')';
    }

    input[type="checkbox"]:checked + * {
        text-decoration: line-through;
    }

    a, button {
        transition: all .3 ease-in-out;
    }