
* {
    box-sizing: border-box;
}

a, button {
    transition: all .3s ease-in-out;
}

a {
    text-decoration: none;
}

body {
    font: 400 22px 'Poppins', sans-serif;
    color: #444;
    line-height: 1.6;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.box {
    outline: 1px solid orange;
    padding: 90px 0;
}

.box--padding-lg {
    padding: 140px 0;
}

.box--bg-pink {
    background-color: #ffe9eb;
}

.box--bg-grey {
    background-color: #eeeeee;
}

.box--bg-gradient {
    background-image: linear-gradient(to bottom, #333399 50%, #fe00cc 100%);
}

h1, h2 {
    font-size: 62px;
}


h3 {
    font-size: 36px ;
}

h4 {
    font-size: 30px;
}

h5 {
    font-size: 24px;
}

header {
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

header a { 
    color: inherit;
}

.logo {
    font-size: 33px;
    font-weight: 700;
}

.logo:hover,
.logo:focus,
.logo:active {
    color: #e71cb4
}

nav ul {
    padding: 0
}

nav ul li {
    display: inline-block;
    margin-left: 25px;
}

nav ul li a {
    padding: 5px 0;
    font-weight: 700;
    border-bottom: 1px solid transparent;
    font-size: 16px;
}

nav ul li a:hover,
nav ul li a:focus,
nav ul li a:active {
    color: #e71cb4;
    border-color: #e71cb4;
}


header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.hero {
    min-height: 100vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: url(../img/hero.jpg);
}

.hero__title {
    margin-bottom: 30px;
}

.hero__text {
    font-size: 30px;
    margin-bottom: 70px;

}

.btn {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    background-color: #e71cb4;
    border: 2px solid #e71cb4;
    border-radius: 5px;
    padding: 15px 45px;
    display: inline-block;
    font-size: 16px;
}

.btn--lg{
    font-size: 22px;
    padding: 22px 80px;

}

.btn:hover,
.btn:focus,
.btn:active {
    color:#e71cb4;
    background-color: #fff;
}

.btn--transparent{
    background-color: transparent;
    border-color: white;
}

.btn--transparent:hover,
.btn--transparent:focus,
.btn--transparent:active {
    color: #444;
}

.text-purple{
    color:#e71cb4;
    
}

.text-lg {
    font-size: 32px;
}